{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [
    ["emotion", {"sourceMap": false, "autoLabel": false}],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods",
    "@babel/plugin-transform-runtime",
    ["transform-inline-environment-variables", {"include": ["npm_package_version"]}]
  ],
  "env": {
    "esm": {
      "presets": [
        ["@babel/preset-env", {"modules": false}],
        "@babel/preset-react",
        "@babel/preset-typescript"
      ]
    }
  },
  "comments": false
}
