logs
*.log
npm-debug.log*
.DS_Store

/cypress/screenshots/
/cypress/videos/

coverage
node_modules
packages/*
dist
build
buildCypress
doc-site
jest.*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.idea/*