name: recipe
owner: devex
pipeline:
  skip_push_image: true
tests:
  primary:
    - name: tester
      command: tail -f /dev/null
      environment:
        NODE_ENV: 'test'
  steps:
    - run:
        test: Fetch the latest CodeClimate test reporter script
        command: wget -O cc-test-reporter https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
    - run:
        test: Make the test reporter executable
        command: chmod +x ./cc-test-reporter
    - run:
        test: Setup Code Climate test-reporter
        command: ./cc-test-reporter before-build
    - run:
        test: Code quality validations
        command: npm run lint
    - run:
        test: Units Tests
        command: npm run test:ci
    - run:
        test: Code Climate Test Coverage
        command: ./cc-test-reporter after-build
    - run:
        test: Check bundle size
        command: npm run bundle-size
