:root {
  --recipe-status-background-color-neutral: var(--recipe-alias-background-color-default);
  --recipe-status-text-color-neutral: var(--recipe-alias-text-color);

  --recipe-status-background-color-success: var(--recipe-semantic-positive-color-background);
  --recipe-status-text-color-success: var(--recipe-semantic-positive-color-text-small);

  --recipe-status-background-color-informational: var(--recipe-semantic-informative-color-background);
  --recipe-status-text-color-informational: var(--recipe-semantic-informative-color-text-small);

  --recipe-status-background-color-attention: var(--recipe-semantic-informative-color-background);
  --recipe-status-text-color-attention: var(--recipe-semantic-informative-color-text-small);

  --recipe-status-background-color-warning: var(--recipe-semantic-caution-color-background);
  --recipe-status-text-color-warning: var(--recipe-semantic-caution-color-text-small);

  --recipe-status-background-color-error: var(--recipe-semantic-negative-color-background);
  --recipe-status-text-color-error: var(--recipe-semantic-negative-color-text-small);
}