:root {
  --recipe-table-background-color-alternate: var(--recipe-global-color-static-gray-100);
  --recipe-table-background-color-hover: var(--recipe-global-color-static-gray-100);
  --recipe-table-border-radius: 6px;
  --recipe-table-selection-summary-background-color: var(--recipe-semantic-informative-color-background);
  --recipe-table-selection-summary-border-color: var(--recipe-global-color-static-blue-300);

  --recipe-table-font-family: var(--recipe-global-font-family-base);
  --recipe-table-font-weight: var(--recipe-global-font-weight-regular);
  --recipe-table-leading: 1.3em;
  --recipe-table-font-size: var(--recipe-global-font-size-100);
  --recipe-table-text-color: var(--recipe-alias-text-color);

  --recipe-table-heading-font-weight: var(--recipe-global-font-weight-bold);
  --recipe-table-heading-leading: 1.3em;
  --recipe-table-heading-font-size: var(--recipe-global-font-size-75);
  --recipe-table-heading-text-color: var(--recipe-alias-deemphasis-text-color);
}