:root {
  --recipe-global-color-static-white: #fff;

  /* grays */
  --recipe-global-color-static-gray-100: #fafafb;
  --recipe-global-color-static-gray-200: #f4f7f8;
  --recipe-global-color-static-gray-300: #e6e9eb;
  --recipe-global-color-static-gray-400: #ced4d9;
  --recipe-global-color-static-gray-500: #b2b3b3;
  --recipe-global-color-static-gray-600: #8b99a6;
  --recipe-global-color-static-gray-700: #565a5c;
  --recipe-global-color-static-gray-800: #373d43;
  --recipe-global-color-static-gray-900: #1b2023;

  /* blues */
  --recipe-global-color-static-blue-100: #f6fbff;
  --recipe-global-color-static-blue-200: #ebf7ff;
  --recipe-global-color-static-blue-300: #c1def4;
  --recipe-global-color-static-blue-400: #b1d5f2;
  --recipe-global-color-static-blue-500: #77b1e2;
  --recipe-global-color-static-blue-600: #3e90d6;
  --recipe-global-color-static-blue-650: #3a81be;
  --recipe-global-color-static-blue-700: #1e70bf;
  --recipe-global-color-static-blue-800: #316da1;
  --recipe-global-color-static-blue-900: #2b608e;
  --recipe-global-color-static-blue-950: #0f4879;

  /* reds */
  --recipe-global-color-static-red-200: #fdefef;
  --recipe-global-color-static-red-500: #f7c1c1;
  --recipe-global-color-static-red-600: #ec5353;
  --recipe-global-color-static-red-700: #ae4d4d;
  --recipe-global-color-static-red-800: #c84646;
  --recipe-global-color-static-red-900: #b03e3e;
  --recipe-global-color-static-red-950: #972f2f;

  /* yellows */
  --recipe-global-color-static-yellow-200: #fcf6e5;
  --recipe-global-color-static-yellow-500: #f4d689;
  --recipe-global-color-static-yellow-600: #e9a801;
  --recipe-global-color-static-yellow-700: #926a00;

  /* greens */
  --recipe-global-color-static-green-200: #f3f8eb;
  --recipe-global-color-static-green-500: #c7dfa7;
  --recipe-global-color-static-green-600: #88bb40;
  --recipe-global-color-static-green-700: #609b3b;

  /* teals */
  --recipe-global-color-static-teal-600: #1bbc9b;

  /* purples */
  --recipe-global-color-static-purple-600: #9b59b6;

  /* translucent */
  --recipe-global-color-transparent: transparent;
  --recipe-global-color-translucent-dark: rgba(0, 0, 0, 0.05);
  --recipe-global-color-translucent-darker: rgba(0, 0, 0, 0.1);

  /* dimensions */
  --recipe-global-static-size-0: 0px;
  --recipe-global-static-size-10: 1px;
  --recipe-global-static-size-25: 2px;
  --recipe-global-static-size-40: 3px;
  --recipe-global-static-size-50: 4px;
  --recipe-global-static-size-65: 5px;
  --recipe-global-static-size-75: 6px;
  --recipe-global-static-size-100: 8px;
  --recipe-global-static-size-150: 12px;
  --recipe-global-static-size-200: 16px;
  --recipe-global-static-size-250: 20px;
  --recipe-global-static-size-300: 24px;
  --recipe-global-static-size-400: 32px;
  --recipe-global-static-size-500: 40px;
  --recipe-global-static-size-600: 48px;
  --recipe-global-static-size-750: 60px;

  /* font */
  --recipe-global-font-family-base: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  --recipe-global-font-family-code: 'Source Code Pro', Monaco, monospace;
  --recipe-global-font-weight-regular: 400;
  --recipe-global-font-weight-bold: 700;
  --recipe-global-leading-normal: 1.5;
  --recipe-global-leading-snug: 1.35;
  --recipe-global-leading-tight: 1.25;
  --recipe-global-font-size-75: 12px;
  --recipe-global-font-size-100: 14px;
  --recipe-global-font-size-200: 16px;
  --recipe-global-font-size-300: 18px;
  --recipe-global-font-size-400: 20px;
  --recipe-global-font-size-450: 21px;
  --recipe-global-font-size-500: 22px;
  --recipe-global-font-size-600: 25px;
  --recipe-global-font-size-700: 28px;
  --recipe-global-font-size-800: 32px;

  /* semantic colors */

  /*
    structure:
    background - sufficient contrast against text color (i.e. light for dark text)
    border - darker than background, ligher than default/base
    default - base color (used for default button background etc)
    text (large/small) - The web accessibility guidelines suggest a minimum contrast ratio of 4.5 for small text, and 3.0 for large text.
  */

  --recipe-semantic-negative-color-background: var(--recipe-global-color-static-red-200);
  --recipe-semantic-negative-color-border: var(--recipe-global-color-static-red-500);
  --recipe-semantic-negative-color-default: var(--recipe-global-color-static-red-600);
  --recipe-semantic-negative-color-text-small: var(--recipe-global-color-static-red-700);

  --recipe-semantic-caution-color-background: var(--recipe-global-color-static-yellow-200);
  --recipe-semantic-caution-color-border: var(--recipe-global-color-static-yellow-500);
  --recipe-semantic-caution-color-default: var(--recipe-global-color-static-yellow-600);
  --recipe-semantic-caution-color-text-small: var(--recipe-global-color-static-yellow-700);

  --recipe-semantic-positive-color-background: var(--recipe-global-color-static-green-200);
  --recipe-semantic-positive-color-border: var(--recipe-global-color-static-green-500);
  --recipe-semantic-positive-color-default: var(--recipe-global-color-static-green-600);
  --recipe-semantic-positive-color-text-small: var(--recipe-global-color-static-green-700);

  --recipe-semantic-informative-color-background: var(--recipe-global-color-static-blue-200);
  --recipe-semantic-informative-color-border: var(--recipe-global-color-static-blue-500);
  --recipe-semantic-informative-color-default: var(--recipe-global-color-static-blue-600);
  --recipe-semantic-informative-color-text-small: var(--recipe-global-color-static-blue-700);

  /* aliases */
  --recipe-alias-font-size-default: var(
    --recipe-compat-font-size,
    var(--recipe-global-font-size-200)
  );
  --recipe-alias-leading-body: var(--recipe-global-leading-normal);
  --recipe-alias-leading-title: var(--recipe-global-leading-snug);
  --recipe-alias-background-color-default: var(--recipe-global-color-static-gray-200);
  --recipe-alias-placeholder-text-color: var(--recipe-global-color-static-gray-500);
  --recipe-alias-label-text-color: var(--recipe-global-color-static-gray-700);
  --recipe-alias-text-color: var(--recipe-global-color-static-gray-700);
  --recipe-alias-text-color-disabled: var(--recipe-global-color-static-gray-600);
  --recipe-alias-heading-text-color: var(--recipe-global-color-static-gray-700);
  --recipe-alias-deemphasis-text-color: var(--recipe-global-color-static-gray-600);
  --recipe-alias-border-size-thin: var(--recipe-global-static-size-10);
  --recipe-alias-border-size-thick: var(--recipe-global-static-size-25);
  --recipe-alias-border-size-thicker: var(--recipe-global-static-size-50);
  --recipe-alias-border-size-thickest: var(--recipe-global-static-size-100);
  --recipe-alias-border-color: var(--recipe-global-color-static-gray-400);
  --recipe-alias-border-color-light: var(--recipe-global-color-static-gray-300);
  --recipe-alias-focus-ring-color: var(--recipe-global-color-static-blue-600);
  --recipe-alias-focus-ring-shadow: var(--recipe-alias-focus-ring-color) 0px 0px 2px 2px,
    var(--recipe-global-color-translucent-darker) 0px 1px 1px 0px;
  --recipe-alias-icon-color: var(--recipe-global-color-static-gray-600);
  --recipe-alias-shadow-small: 0 1px 1px 0 rgba(0, 0, 0, 0.12);

  /* these are set to a static size, but we may want to vary them by device scale */
  --recipe-alias-border-radius-regular: var(--recipe-global-static-size-50);
  --recipe-alias-border-radius-medium: var(--recipe-global-static-size-100);
}
