:root {
  --recipe-segmented-box-border-color: var(--recipe-alias-border-color);
  --recipe-segmented-box-background-color-hover: var(--recipe-global-color-static-gray-100);
  --recipe-segmented-box-border-color-hover: var(--recipe-global-color-static-gray-500);
  --recipe-segmented-box-border-radius: var(--recipe-alias-border-radius-regular);
  --recipe-segmented-box-text-color: var(--recipe-alias-text-color);
  --recipe-segmented-box-text-color-selected: var(--recipe-global-color-static-blue-700);
  --recipe-segmented-box-background-color-selected: var(--recipe-global-color-static-blue-200);
  --recipe-segmented-box-border-color-selected: var(--recipe-global-color-static-blue-500);
  --recipe-segmented-box-background-color-down: var(--recipe-global-color-static-gray-300);
}