:root {
  --recipe-checkbox-box-size: var(--recipe-global-static-size-200);
  --recipe-checkbox-checkmark-color: var(--recipe-global-color-static-blue-600);
  --recipe-checkbox-checkmark-color-disabled: var(--recipe-alias-text-color-disabled);
  --recipe-checkbox-box-border-color: var(--recipe-alias-border-color);
  --recipe-checkbox-box-background-color-hover: var(--recipe-global-color-static-gray-100);
  --recipe-checkbox-box-border-color-hover: var(--recipe-global-color-static-gray-500);
  --recipe-checkbox-box-background-color-down: var(--recipe-global-color-static-gray-300);
  --recipe-checkbox-box-background-color-disabled: var(--recipe-global-color-static-gray-200);
  --recipe-checkbox-acknowledgement-text-font-family: var(--recipe-global-font-family-base);
  --recipe-checkbox-acknowledgement-text-font-weight: var(--recipe-global-font-weight-regular);
  --recipe-checkbox-acknowledgement-text-size: var(--recipe-global-font-size-100);
}