name: Test

on: pull_request

jobs:

  validate:
    name: Code quality validations
    runs-on: ubuntu-latest
    steps:
    - name: Checkout 
      uses: actions/checkout@v3
    - name: Setup Eslint Checks
      uses: mrdivyansh/eslint-action@v1.0.7
      with:
        repo-token: ${{secrets.GITHUB_TOKEN}}
        eslint-rc: .eslintrc.js

  jest: 
    name: Jest
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Get npm cache directory
        id: npm-cache-dir
        run: |
          echo "::set-output name=dir::$(npm config get cache)"

      - uses: actions/cache@v2
        id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install Dependencies
        run: npm ci

      - name: Build source
        run: npm run build

      - uses: amancevice/setup-code-climate@main
        with:
          cc_test_reporter_id: ${{ secrets.CC_TEST_REPORTER_ID }}
      
      - name: Setup Code Climate
        run: cc-test-reporter before-build

      - name: Run tests
        run: npm run test:ci
        timeout-minutes: 10

      - name: Send results to Code Climate
        run: cc-test-reporter after-build

      - name: Code Coverage Report
        uses: romeovs/lcov-reporter-action@v0.2.16
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
