name: Test

on: pull_request

jobs:
  build: 
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Get npm cache directory
        id: npm-cache-dir
        run: |
          echo "::set-output name=dir::$(npm config get cache)"

      - uses: actions/cache@v2
        id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install Dependencies
        run: npm ci && npm run install:dependencies

      - name: Build source
        run: npm run build

      - name: Code quality validations
        run: npm run lint

      - uses: amancevice/setup-code-climate@main
        with:
          cc_test_reporter_id: ${{ secrets.CC_TEST_REPORTER_ID }}
      
      - name: Setup Code Climate
        run: cc-test-reporter before-build

      - name: Run tests
        run: npm run test:ci
        timeout-minutes: 10

      - name: Send results to Code Climate
        run: cc-test-reporter after-build

      - name: Code Coverage Report
        uses: romeovs/lcov-reporter-action@v0.2.16
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
