:root {
  --recipe-link-text-color: var(--recipe-global-color-static-blue-600);
  --recipe-link-text-color-hover: var(--recipe-global-color-static-blue-800);
  --recipe-link-text-color-down: var(--recipe-global-color-static-blue-900);
}